<a href="https://colab.research.google.com/github/LiaDahlia/Tugas-Maschine-Learning/blob/main/Tugas_1_MachineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
dataset=pd.read_csv("/content/drive/My Drive/Machine Learning/Angka Partisipasi Sekolah 2017.csv")
dataset

                Provinsi     SD    SMP    SMA     PT
0                   ACEH  99.85  98.09  82.15  34.28
1         SUMATERA UTARA  99.49  96.60  76.76  26.80
2         SUMATERA BARAT  99.50  96.29  82.86  35.45
3                   RIAU  98.98  94.73  76.52  27.28
4                  JAMBI  99.59  95.89  71.54  24.12
5       SUMATERA SELATAN  99.63  94.01  69.05  19.17
6               BENGKULU  99.80  97.20  79.07  29.90
7                LAMPUNG  99.78  94.76  70.03  20.96
8   KEP. BANGKA BELITUNG  99.64  92.41  66.99  14.99
9              KEP. RIAU  99.32  99.08  82.80  19.13
10           DKI JAKARTA  99.67  97.64  71.50  24.60
11            JAWA BARAT  99.51  93.77  66.62  21.50
12           JAWA TENGAH  99.62  95.48  68.48  22.13
13         DI YOGYAKARTA  99.87  99.63  87.61  51.33
14            JAWA TIMUR  99.57  96.77  71.51  23.34
15                BANTEN  99.31  95.67  67.77  21.33
16                  BALI  99.44  97.72  82.16  26.56
17   NUSA TENGGARA BARAT  99.43  97.69  76.61  28.52
18   NUSA TENGGARA TIMUR  98.27  94.76  74.65  27.80
19      KALIMANTAN BARAT  98.44  92.51  67.53  25.80
20     KALIMANTAN TENGAH  99.50  93.37  66.62  24.15
21    KALIMANTAN SELATAN  99.55  92.33  68.30  23.53
22      KALIMANTAN TIMUR  99.67  98.79  81.32  30.04
23      KALIMANTAN UTARA  98.34  96.04  75.12  20.72
24        SULAWESI UTARA  99.37  94.91  73.04  24.22
25       SULAWESI TENGAH  98.15  92.41  74.87  26.31
26      SULAWESI SELATAN  99.16  93.09  70.60  32.16
27     SULAWESI TENGGARA  99.32  94.08  72.94  30.03
28             GORONTALO  98.76  91.23  69.86  29.21
29        SULAWESI BARAT  98.10  89.88  68.03  23.49
30                MALUKU  99.72  96.86  79.08  38.20
31          MALUKU UTARA  99.19  97.24  76.06  32.10
32           PAPUA BARAT  97.27  96.92  80.60  31.92
33                 PAPUA  81.80  79.09  63.35  24.57

In [8]:
dataset.head()

         Provinsi     SD    SMP    SMA     PT
0            ACEH  99.85  98.09  82.15  34.28
1  SUMATERA UTARA  99.49  96.60  76.76  26.80
2  SUMATERA BARAT  99.50  96.29  82.86  35.45
3            RIAU  98.98  94.73  76.52  27.28
4           JAMBI  99.59  95.89  71.54  24.12

In [9]:
dataset.shape

(34, 5)

In [ ]:
dataset.isnull().sum()

Provinsi    0
SD          0
SMP         0
SMA         0
PT          0
dtype: int64

In [5]:
dataset.max()

Provinsi    SUMATERA UTARA
SD                   99.87
SMP                  99.63
SMA                  87.61
PT                   51.33
dtype: object

In [6]:
dataset.min()

Provinsi     ACEH
SD           81.8
SMP         79.09
SMA         63.35
PT          14.99
dtype: object

In [7]:
dataset.describe()

              SD        SMP        SMA         PT
count  34.000000  34.000000  34.000000  34.000000
mean   98.723824  94.910000  73.882353  26.930588
std     3.051581   3.653056   6.005293   6.647970
min    81.800000  79.090000  63.350000  14.990000
25%    99.025000  93.470000  68.622500  23.377500
50%    99.465000  95.575000  72.990000  26.055000
75%    99.627500  97.130000  78.492500  29.997500
max    99.870000  99.630000  87.610000  51.330000

In [10]:
dataset.describe().loc['max','SD']

99.87

In [11]:
dataset.describe()['PT']['max']

51.33

In [12]:
data=dataset.dropna()

In [13]:
dataset.shape

(34, 5)

In [14]:
data=dataset.dropna(axis=0, subset=['SMP','SMA'],inplace=True)

In [15]:
dataset.shape

(34, 5)

In [16]:
y=dataset['SD']
y

0     99.85
1     99.49
2     99.50
3     98.98
4     99.59
5     99.63
6     99.80
7     99.78
8     99.64
9     99.32
10    99.67
11    99.51
12    99.62
13    99.87
14    99.57
15    99.31
16    99.44
17    99.43
18    98.27
19    98.44
20    99.50
21    99.55
22    99.67
23    98.34
24    99.37
25    98.15
26    99.16
27    99.32
28    98.76
29    98.10
30    99.72
31    99.19
32    97.27
33    81.80
Name: SD, dtype: float64

In [17]:
Fitur=['Provinsi','SMA']
x=dataset[Fitur]
x

                Provinsi    SMA
0                   ACEH  82.15
1         SUMATERA UTARA  76.76
2         SUMATERA BARAT  82.86
3                   RIAU  76.52
4                  JAMBI  71.54
5       SUMATERA SELATAN  69.05
6               BENGKULU  79.07
7                LAMPUNG  70.03
8   KEP. BANGKA BELITUNG  66.99
9              KEP. RIAU  82.80
10           DKI JAKARTA  71.50
11            JAWA BARAT  66.62
12           JAWA TENGAH  68.48
13         DI YOGYAKARTA  87.61
14            JAWA TIMUR  71.51
15                BANTEN  67.77
16                  BALI  82.16
17   NUSA TENGGARA BARAT  76.61
18   NUSA TENGGARA TIMUR  74.65
19      KALIMANTAN BARAT  67.53
20     KALIMANTAN TENGAH  66.62
21    KALIMANTAN SELATAN  68.30
22      KALIMANTAN TIMUR  81.32
23      KALIMANTAN UTARA  75.12
24        SULAWESI UTARA  73.04
25       SULAWESI TENGAH  74.87
26      SULAWESI SELATAN  70.60
27     SULAWESI TENGGARA  72.94
28             GORONTALO  69.86
29        SULAWESI BARAT  68.03
30                MALUKU  79.08
31          MALUKU UTARA  76.06
32           PAPUA BARAT  80.60
33                 PAPUA  63.35